<div class="contenedor">
  <header>
    <h1>Pokédex de Kennedy</h1>
    <p class="stats">Base de datos: 100 especímenes detectados</p>
  </header>

  <div class="galeria">
    @for (p of pokeService.listaPokemon(); track p.id) {
      <div class="tarjeta-min" (click)="verDetalle(p)">
        <span class="id-badge">#{{ p.id }}</span>
        <img [src]="p.imagen" [alt]="p.nombre">
        <div class="nombre-contenedor">
          <strong>{{ p.nombre }}</strong>
        </div>
      </div>
    }
  </div>

  @if (pokeService.seleccionado()) {
    <div class="modal-overlay" (click)="pokeService.seleccionado.set(null)">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="btn-cerrar-top" (click)="pokeService.seleccionado.set(null)">×</button>

        <div class="modal-grid">
          <div class="modal-img-sec">
            <img [src]="pokeService.seleccionado().imagen" [alt]="pokeService.seleccionado().nombre">
          </div>

          <div class="modal-info-sec">
            <span class="modal-id">N.º {{ pokeService.seleccionado().id }}</span>
            <h2 class="modal-nombre">{{ pokeService.seleccionado().nombre }}</h2>

            <div class="pildoras">
              <span class="pildora tipo">{{ pokeService.seleccionado().tipo }}</span>
              <span class="pildora poder">{{ pokeService.seleccionado().poder }}</span>
            </div>

            <p class="modal-desc">{{ pokeService.seleccionado().descripcion }}</p>

            <button class="btn-accion" (click)="pokeService.seleccionado.set(null)">Entendido</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
